{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider gray">
<div class="col-md-12"></div>
</div>

<div class="categorydesc col-md-12">
   <div class="banner">
    <h1>Edit:  {{item.name}} </h1>
   </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
     <form action="#" method = "post">
        <div class="form-group">
	    <label for="name">Name:</label>
	    <input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}" required>

	    <laabel for="description">Description:</label>
	    <textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

	    <label for="price">Price:</label>
		<div class="input-group">
		    <div class="input-group-addon">$</div>
			<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
		</div>


	     <button type="submit" class="btn btn-outline-primary btn-lg" id="submit">
	     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>

	     <a href = '{{url_for('showItems',category_id= category_id)}}'>
	     <button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
	     </a>

        </div>
     </form>
  </div>
</div>
{% endblock %}
