{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider gray">
<div class="col-md-12"></div>
</div>



<div class="categorydesc col-md-12">
   <div class="banner">
	<h1>New Hardware Item</h1>
   </div>
</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" required placeholder="Name of the Hardware Item">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the hardware Item"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>


					<button type="submit" class="btn btn-outline-primary btn-lg" id="submit">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create Item</button>

					<a href = '{{url_for('showItems',category_id= category_id)}}'>
					<button type="button" class="btn btn-outline-primary btn-lg">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>

				</div>
			</form>
		</div>
	</div>
{% endblock %}
