{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider gray">
<div class="col-md-12"></div>
</div>

<div class="categorydesc col-md-12">
   <div class="banner">
	<h1>New Hardware Category</h1>
  </div>
</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" placeholder="Enter Hardware Category Name" name="name" required>
        			<label for="description">Description:</label>
        			<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Enter Hardware Category Description"></textarea>
				<div class="padding-bottom"></div>

				<button type="submit" class="btn btn-outline-primary btn-lg" id="submit">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
				<a href = '{{url_for('showcategories')}}'>
				<button type="button" class="btn btn-outline-primary btn-lg">
					Cancel</button>
				</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
