{% extends "main.html" %}
{% block content %}
<div class="row top-items">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-right">
      <a href="{{url_for('showLogin')}}">Log in Here </a>
  </div>
</div>

<div class="col-md-12"></div>
<div class="row divider gray">
  
</div>

<div class="row banner main">
  <div class="col-md-1"></div>
  <div class="col-md-11 padding-none">
   <h1>LowPrice Hardware Store - Categories</h1>
  </div>
</div>


<div class = 'flash'>
{% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li> <strong> {{ message }} </strong> </li>
     {% endfor %}
   </ul>
   {% endif %}
{% endwith %}
</div>

	

{% for category in categories %}
<div class="row">
<div class="col-md-1"></div>
   <div class="col-md-10 category-list">
    <a href = "{{url_for('showItems', category_id = category.id)}}"> 
    <h3>{{category.name}}</h3>
    </a>
    <h5>{{category.description}}</h5>
   </div>
   

</div>
{% endfor %}
{% endblock %}
